/* fonts */
$sans: "Gotham Narrow", "Helvetica Neue", sans-serif;
$sans_book: "Gotham Book", "Helvetica Neue", sans-serif;
$serif: "MillerDisplay", "Times", serif;

$black: #000000;
$dark_grey: #2d2e2f;
$grey: #7b7c80;
$light_grey: #c6c4c4;
